b {
    color:firebrick
}  
body {
    text-align: center;  
}
img {
    align-content: center;
    image-orientation: fixed;
    animation-iteration-count: infinite;
    animation-delay;
}
html {
    background-color: cornsilk;
}